body{
    margin:0;
    padding:0;
    background:url(https://img.freepik.com/vector-gratis/patron-espacio-transparente-color_102902-2360.jpg);
    background-size: 50%;
    font-family:sans-serif;
  }
  
.cuadrado {
    width:350px;
    height:630px;
    top:350px;
    left:50%;
    background-color: rgba(0,0,0,0.7);
    color:#fff;
    position:relative;
    transform:translate(-50%,-50%);
    box-sizing:border-box;
    padding:150px 20px;
    border-radius: 20px;
  }
  
.cuadrado .imagen {
   width: 220px;
   height: 140px;
   position:absolute;
   padding-left: 80px;
   position:center;
   border-radius: 100%;
   top: 10px;
  }

.cuadrado h1 {
    position: relative;
    margin:0;
    padding:020px;
    text-align:center;
    font-size:22px;
    bottom: 40px;
  }
  
.cuadrado label{
    position: relative;
    margin:0;
    padding:0;
    font-weight:bold;
    display:block;
    bottom: 50px;
  }

.cuadrado input {
    width: 100%;
    margin-bottom: 20px;
}

.cuadrado input[type='text'],
.cuadrado input[type='password']
{
position: relative;
border:none;
border-bottom:1px solid rgb(100, 200, 224);
background:transparent;
outline:none;
height:40px;
color:#fff;
font-size:16px;
bottom: 50px;
}

.cuadrado input[type='submit']
{   
    position: relative;
    border:none;
    outline:none;
    height:40px;
    background:#1e8496;
    color:#fff;
    font-size:18px;
    border-radius:20px;
    bottom: 50px;
   }


.cuadrado a{
    position: relative;
    color: darkgrey;
    line-height: 28px;
    bottom: 60px;
}

#alerta2{
    position: absolute;
    bottom: 550px;
}